body {
  padding: 0;
  margin: 0;
  background: #696969;
}
/*--- navigation bar ---*/
.navbar {
  background:#d2691e;
}
.nav-link,
.navbar-brand {
  color: #FFF;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url("../assets/theater seats.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
/*.header-4k {
  background-image: url('../assets/4kUhd.jpg');
  background-position: center;
  background-repeat: repeat;
}
.header-bluRay {
  background-image: url('../assets/bluRay.jpg');
  background-position: center;
  background-repeat: repeat;
}
.header-dvd{
  background-image: url('../assets/dvdLogo.jpg');
  background-position: center;
  background-repeat: repeat-y;
}
.header-vhs {
  background-image: url('../assets/vhsLogo.jpg');
  background-position: center;
  background-repeat: repeat;
}
.header-digital {
  background-image: url('../assets/digitalLogo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}*/
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #d2691e;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #d2691e;
  background:#d2691e;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.title-search {
  color: white;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}
.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

/*--- footer ---*/

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
.sticky-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/*--- media styling ---*/

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}
.table-responsive{
  max-height: 300px;
  overflow-y: auto;
}
table thead tr th{
  position: sticky;
  top: 0px;
  background-color: #FFFFFF
}
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tbody {
  height: 200px;
  overflow-y: auto;
}
th, td {
  padding: 15px;
}
td{
  font-weight: bold;
}
th {
  font-weight: bolder;
}
